<div
  class="contact-page container py-5"
  style="padding-top: 5vh; padding-bottom: 5vh"
>
  <!-- Contact Heading -->
  <h1 class="display-4 text-center fw-bold text-primary mb-5">İletişim</h1>
  <div class="map-content">
    <app-map-view></app-map-view>
  </div>

  <!-- Contact Details Section -->
  <div class="row justify-content-center mb-5">
    <div class="col-lg-6 text-center">
      <p class="mb-3">
        <strong>Adres: </strong> Cumhuriyet Mah. Atatürk Cad. No:171/A
        Çanakkale/Kepez
      </p>
      <p class="mb-3">
        <strong>Tel: </strong>
        <a href="tel:+905402861915" class="text-decoration-none"
          >0 540 286 19 15</a
        >
      </p>
      <p class="mb-3">
        <strong>Email: </strong>
        <a href="mailto:sahanklinik17@gmail.com" class="text-decoration-none"
          >sahanklinik17&#64;gmail.com</a
        >
      </p>
      <p class="mb-3">
        <strong>Çalışma saatlerimiz: </strong>
        <span class="nowrap">Pazartesi-Cumartesi, </span>
        <span class="nowrap">9:00 - 19:00</span>
      </p>
    </div>
  </div>

  <!-- Contact Form Section -->
  <!-- <div class="row justify-content-center">
    <div class="col-lg-6">
      <h2 class="text-center text-success mb-4">
        Formu doldurarak bize mesajınızı iletebilirsiniz
      </h2>
      <form>
        <div class="mb-4">
          <label for="name" class="form-label">İsim:</label>
          <input
            id="name"
            type="text"
            class="form-control"
            placeholder="İsim Soyisim"
          />
        </div>
        <div class="mb-4">
          <label for="email" class="form-label">Email:</label>
          <input
            id="email"
            type="email"
            class="form-control"
            placeholder="Emailiniz"
          />
        </div>
        <div class="mb-4">
          <label for="message" class="form-label">Mesaj:</label>
          <textarea
            id="message"
            class="form-control"
            rows="4"
            placeholder="Mesajınız"
          ></textarea>
        </div>
        <div class="text-center">
          <button
            type="button"
            class="btn btn-primary btn-lg px-5"
            (click)="onSubmit()"
          >
            Gönder
          </button>
        </div>
      </form>
    </div>
  </div> -->
</div>

