<div class="hero-component-container">
  <div class="hero-overlay d-flex flex-column justify-content-center align-items-center">
    <p class="lead fw-bold">Şahan Dent Ağız & Diş Sağlığı Polikliniği</p>
    <h1 class="display-4">Hayalinizdeki Gülüş, Burada Başlıyor</h1>
    <p class="text-center description">
      Modern teknoloji ve uzman dokunuşuyla gülüşünüzü güzelleştiriyoruz.
    </p>
    <button class="btn btn-light btn-lg mt-4" (click)="goContactPage()">Bize Ulaşın</button>
  </div>
</div>
