<div class="hero-component-container">
  <!-- Hero Image (Visible on mobile as separate section) -->
  <div class="hero-photo"></div>

  <!-- Text Content -->
  <div class="hero-overlay d-flex flex-column justify-content-center align-items-center">
    <p class="lead fw-bold">Etkinlik bandosu</p>
    <!-- <h1 class="display-4">Canlı Müzik, Unutulmaz Anılar!</h1> -->
    <h1 class="display-4">On7Bando</h1>
    <p class="text-center description">
      En özel anlarınıza canlı müzik ile unutulmaz bir atmosfer katın.
    </p>
    <button class="btn btn-light btn-lg mt-4" (click)="goContactPage()">Bize Ulaşın</button>
  </div>
</div>
