
.dis-hijyen-belt {
  height: 100vh; /* Full viewport height */
  width: 100%;   /* Full viewport width */
  padding: 0;    /* Remove any default padding */
  margin: 0;     /* Remove any default margin */
  box-sizing: border-box; /* Include padding and border in element's width and height */
}
