<div class="container-fluid dis-hijyen-belt h-100">
  <div class="row h-100">
    <!-- Right Section: Image Area -->
    <div class="col-12 col-md-6 d-flex justify-content-center align-items-center order-1 order-md-2 px-0">
      <!-- Bootstrap Card for Mobile -->
      <div class="card d-block d-md-none shadow-lg border-0" style="width: 90%; border-radius: 15px; overflow: hidden;">
        <!-- Rounded Card with Shadow -->
        <img src="/images/dis-hijyen-belt.jpeg" class="card-img-top" alt="Image Description" style="border-radius: 15px;">
      </div>

      <!-- Non-card image for larger screens -->
      <div class="d-none d-md-block">
        <app-image-area></app-image-area>
      </div>
    </div>

    <!-- Left Section: Text Area -->
    <div class="col-12 col-md-6 d-flex justify-content-center align-items-center order-2 order-md-1">
      <app-text-area></app-text-area>
    </div>
  </div>
</div>
