<nav class="navbar">
  <app-top-navbar></app-top-navbar>
  <div class="navbar-container">
    <div id="logo-container">
      <a routerLink="/">
        <img src="/logo/logo-yan_1.png" alt="Logo" />
      </a>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/home-page" routerLinkActive="active">Anasayfa</a></li>
      <!-- <li><a routerLink="/about" routerLinkActive="active">Hakkında</a></li> -->
      <li>
        <a routerLink="content-try-page" routerLinkActive="active">Hakkında</a>
      </li>
      <li>
        <a routerLink="/services" routerLinkActive="active">Sağlık Turizmi</a>
      </li>
      <li><a routerLink="/contact" routerLinkActive="active">Tedaviler</a></li>
      <li><a routerLink="/home" routerLinkActive="active">Seminerler</a></li>
      <li>
        <a routerLink="/about" routerLinkActive="active">Resim Galerisi</a>
      </li>
      <li><a routerLink="/services" routerLinkActive="active">İletişim</a></li>
      <li>
        <a routerLink="/contact" routerLinkActive="active">Video Galeri</a>
      </li>
    </ul>
  </div>
</nav>
