<div class="fiyatlandirma-container">
  <h1>Müşteri Yorumları</h1>
  <p>
    Hizmetlerimiz hakkında söylenenlere göz atın. Sizin görüşleriniz bizim için
    çok değerli!
  </p>

  <div class="card-container">
    <!-- First Review Card -->
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ruveyde Yıldız</h5>
        <div class="stars">
          ★★★★★
        </div>
        <p class="card-text">
          "Geçtiğimiz günlerde dolgumu burada yaptırdım. Doktor Ömür bey oldukça
          ilgiliydi, kendisine tekrardan teşekkür ediyorum."
        </p>
      </div>
    </div>

    <!-- Second Review Card -->
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Yahya Kocakır</h5>
        <div class="stars">
          ★★★★★
        </div>
        <p class="card-text">
          "Öncelikle çok temiz ve nezih bir diş kliniği. Çalışanlar gayet
          güleryüzlü ve her şeyde yardımcı oluyorlar. İmplant
          yapılacak,çekilecek olan dişimi zirkonyum kaplama yaparak kurtardı
          Ömer Bey. İşlem tahmin etmediğim kadar ağrısızdı. Hiç bir ağrı,acı
          hissetmedim. Çok konforlu bir tedaviydi.Yapılan her işlem anlatıldı.
          Çok memnun kaldım. Bundan sonra tercih edeceğim bir klinik"
        </p>
      </div>
    </div>

    <!-- Third Review Card -->
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sebahat Küçük</h5>
        <div class="stars">
          ★★★★★
        </div>
        <p class="card-text">
          "Daha önce çok fazla diş hekimi değiştirmiş biri olarak söylüyorum,
          şimdiye kadar gittiğim en hijyenik ve en ilgili yer burasıydı. Gönül
          rahatlığıyla gidebilirsiniz."
        </p>
      </div>
    </div>
  </div>
</div>
