<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <!-- <h5>Adres</h5>
        <p>
          Cumhuriyet Mah. Atatürk Cad. No:171/A Çanakkale/Kepez
        </p> -->
      </div>
      <div class="col-md-4 text-center">
        <h5>Bize Ulaşın</h5>
        <p>
          Email:
          <a href="mailto:on7bando@gmail.com" class="text-decoration-none">
            on7bando&#64;gmail.com
          </a>
          <br />
          <a href="tel:+905322035934" class="text-decoration-none">
            0 532 203 59 34
          </a>
        </p>
        <div class="social-links">
          <a href="#" class="text-white me-3"
            ><i class="fa-brands fa-facebook"></i
          ></a>
          <a href="#" class="text-white me-3"
            ><i class="fa-brands fa-x-twitter"></i
          ></a>
          <a
            href="https://www.instagram.com/on7bando"
            target="_blank"
            class="text-white"
          >
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>

      <div class="col-md-4">
        <!-- <h5>Çalışma saatlerimiz</h5>
        
        Pazartesi-Cumartesi, 9:00 - 19:00 -->
      </div>
    </div>
    <div class="text-center mt-4">
      <p class="mb-0">&copy; on7bando, Tüm Hakları Saklıdır.</p>
    </div>
  </div>
</footer>
