<div class="hero-component-container">
  <div class="hero-overlay d-flex flex-column justify-content-center align-items-center">
    <p class="lead fw-bold">Özel Günleriniz İçin Unutulmaz Müzik</p>
    <h1 class="display-4">Düğün, Sünnet ve Tüm Kutlamalar İçin Canlı Performans</h1>
    <p class="text-center description">
      Profesyonel müzisyenlerimizle en güzel anlarınızı şarkılarla taçlandırıyoruz.
    </p>
    <button class="btn btn-light btn-lg mt-4" (click)="goContactPage()">Bize Ulaşın</button>
  </div>
</div>
